<!DOCTYPE html>
<html>
<head>
    <title>云网盘</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">云存储</a>
            <div class="navbar-nav">
                <a class="nav-link" href="/upload">上传文件</a>
                <a class="nav-link" href="/download">下载文件</a>
                <a class="nav-link" href="https://github.com/SaaBor-code/yun-drive">GitHub</a>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>